*{
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor-principal {
   /* Ajusta el ancho máximo y el margen */
   max-width: 800px;
   margin: 20px auto;
   /* Configuración de flexbox */
   display: flex;
   align-items: center;
}
.Descripcion{
    text-align: center;
    font-size:16px;
    font-family: cursive;
    margin-top: 30px;
    margin-bottom: 15px;
}

/* Estilos para el logo */
.logo img {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    width: 350px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: auto;
    border-radius: 30px ;
    
}

/* Estilos para el contenedor del chat */
.Chat-container {
    /* Ajusta el espaciado y el sombreado */
    width: 650px;
    padding: 5px;
    margin-left: 20px;
    box-shadow: 0 0 20px rgb(167, 166, 166);
    border: 0.5px black solid;
    border-radius: 10px;
    
}
.titulo{
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
}

.botones{
    display: flex;
    justify-content: space-around;
}

/* Estilos para el mensaje del usuario */
.message.user {
    background-color: rgb(130, 199, 244);
    color: #fff; /* Texto en blanco */
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    border-radius: 10px;
}

/* Estilos para la respuesta del bot */
.message.bot {
    background-color: rgb(251, 255, 122);
    color: #000; /* Texto en negro */
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    border-radius: 10px;
}
